
body {
  background-color: #f5f5f5;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
}
.main {
  width: 260px;
  height: 260px;
  position: absolute;
  top: 67%;
  left: 56%;
  transform: translate(-50%, -50%);
}
.wave {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: transparent;
  border: 26px solid #f5f5f5;
  position: absolute;
  top: 505;
  transform: translate(-50%, -50%);
  /* background: linear-gradient(310.69deg, #DADEED 14.38%, #FAFBFF 94.69%); */
  box-shadow: 11px 11px 20px  #283f7433,
  11px 11px 20px  #283f7433 inset,
    -10px -10px 20px #fff,
    -10px -10px 20px#fff inset, 
     6px 6px 13px #fff inset;
     filter: blur(13px);
     animation: ripple 1.2s 1 ease-out ;
}
.wave2{
    width:160%;
    height:160%;
}
.wave3{
    width: 210% ;
    height: 210%;
}
/* .wave4{
    width:160%;
    height:160%;
} */
@keyframes ripple{
    0%{
        
        transform: translate(-50%,-50%) scale(0);
    }
    100%{
        /* opacity: 0; */
        transform: translate(-50%,-50%) scale(1);
    }
   
}
.content{
    width: 100%;
    height: 100%;
    max-width: 580px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-family: 'Playfair Display', serif;
    color:#232323;
    animation: text 1s 1 ease-in-out forwards;
    animation-delay: 1s;
    opacity: 0;
}
@keyframes text{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
.tittle{
    font-size: 58px;

}
.subTittle{
    font-size:26px ;
}
.discription{
    font-size: 16px;
}
.cointainer{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}